
// travis theme

$primaryColor : #488aff;
$primaryDark : #0068ff;
// $darkColor : #333333;
// $lightColor : #8794a0;

// https://www.intercomstatus.com/

// $primaryColor : #3498db;
// $primaryDark : #1f8ceb;
$darkColor : #637280;
$lightColor : #8da2b5;


$lighterColor : #CCE1FF;
$successColor : #00eb8b;

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body {
    font-family: 'Rubik', sans-serif !important;
    color: $darkColor;
}

div[class^='StatusPageLayout__background___'] {
    background-color: #ffffff !important;
}

// common
li[class*='MetricsGraph__container___'],
li[class*='Components__item___'],
li[class*='IncidentItem__item___'] {
    margin-top: -1px;
    box-shadow: none;
    border: solid 1px $lighterColor;
    border-radius: 2px;
}

// main
main {
    max-width: 850px !important;
}

main::before {
    min-height: 200px;
    content: '';
    display: block;
    height: 315px;
    width: 100%;
    background-color: $primaryDark;
}

main::after {
    content: 'Quark';
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #ffffff;

    // top: 140px;
    // left: calc(50% - 150px);
    // font-size: 100px;
   
    top: 120px;
    left: calc(170px);
    font-size: 100px;
}

// Header
div[class*='Header__top___'] {
    align-items: center;
    display: flex;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;
    top: -70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);

    h4 {
        margin: 0px;
        font-size: 28px;

        span {
            color: #ffffff !important;
            font-weight: 500 !important;
            letter-spacing: 2px;
        }
    }
}


// Subscription
i[class^='SubscriptionMenu__mail-icon___']::before {
    content: 'Subscribe  to  updates';
    font-family: 'Rubik', sans-serif !important;
    font-size: 10px;
    font-weight: 500;
    position: relative;
    top: -15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $primaryDark;
    color: #ffffff;
    padding: 10px 15px 9px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 0px 0px inset;
    font-size: 14px;
}

div[class^='Components__container___']::before {
    content: 'All Systems Operational';
    font-family: 'Rubik', sans-serif !important;
    display: block;
    position: relative;
    font-size: 30px;
    background-color: $successColor;
    color: #ffffff;
    padding: 20px 20px;
    border-radius: 4px;
    font-size: 20px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.material-icons {
    font-size: 0px !important;
    color: $primaryColor;
}

// subscription-button
span[class^='SubscriptionMenu__button___'] {
    font-family: 'Rubik', sans-serif !important;
    background-color: $primaryDark;
    color: #ffffff;
    margin: 0px 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 0px 0px inset;
}

div[class^='SubscriptionMenu__dropdown___']:first-child {
    color: $lightColor;
}

// Components
div[class^='Components__container___'] {
    li[class*='Components__item___'] {

        span[class^='Components__item-secondary___'] {
            // color: $successColor !important;
            font-size: 18px;
            font-weight: 500;
        }

        span[class^='Components__item-primary___']:first-child {
            color: $darkColor !important;
            font-weight: 500;
        }

        span[class^='Components__item-subtitle___'] {
            color: $lightColor !important;
            font-weight: 300;
            margin: 10px 0px 5px 0px;
        }
    }

}

// Metrics
div[class^='Metrics__container___'] {

    div[class^='MetricsGraph__title___'] {
        color: $darkColor !important;
        font-weight: 500;
    }

    div[class^='MetricsGraph__loading___'] {
        color: $lightColor !important;
        font-weight: 300;
    }
}

// Incidents
a[class^='IncidentItem__item-primary-link___'] {
    color: $primaryColor !important;
    font-weight: 500;
}

h4[class^='Incidents__title___'] {
    font-weight: 500;
    font-size: 28px;
}

div[class^='Incidents__border___'] {
    border-color: $lighterColor !important;
    font-weight: 500;
    font-size: 20px;
}

span[class^='Incidents__no-incidents___'] {
    border-color: $lightColor !important;
    font-size: 16px;
}